﻿@model BookAnArtisanMVC.ProjectServiceReference.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Contact_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_by_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_by_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project_status_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project_status_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Street_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Street_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
